/* postioning for score and timer header */
.high-scores {
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: larger;
}

.timer {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: larger;
}
/* ---------------- */
.choice {
background-color: purple;
color: white;
padding: 10px;
margin: 10px;
font-size: medium;
border-radius: 10px;
}
.wrapper-div {
    margin: 90px auto 0 auto;
    max-width: 600px;
}

.start-div {
    text-align: center;
    font-size: x-large;
}

.hide {
    display: none;
}

.choices-div button {
    display: block;

}
/* footer */
footer {
    text-align: center;
    padding-top: 485px;

}